# Introduction to Scikit-learn (sklearn)

## Scikit-learn workflow

In [1]:
#Load data
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
heart_disease = pd.read_csv('heart-disease.csv')
heart_disease

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3,0
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3,0
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3,0
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3,0
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2,0

In [3]:
# Create feature matrix
X = heart_disease.drop('target', axis=1)

# Create label matrix
y = heart_disease['target']

In [4]:
# Choose a model and parameters
from sklearn.ensemble import RandomForestClassifier
clf = RandomForestClassifier(n_estimators = 94)

# No changes to parameters
clf.get_params()

{'bootstrap': True,
 'ccp_alpha': 0.0,
 'class_weight': None,
 'criterion': 'gini',
 'max_depth': None,
 'max_features': 'auto',
 'max_leaf_nodes': None,
 'max_samples': None,
 'min_impurity_decrease': 0.0,
 'min_impurity_split': None,
 'min_samples_leaf': 1,
 'min_samples_split': 2,
 'min_weight_fraction_leaf': 0.0,
 'n_estimators': 94,
 'n_jobs': None,
 'oob_score': False,
 'random_state': None,
 'verbose': 0,
 'warm_start': False}

In [5]:
# Fit the model to the training data
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=0.2)

In [6]:
clf.fit(X_train, y_train);

In [7]:
# Make a prediction
#y_label = clf.predict(np.array([0,2,3,4]))

In [8]:
y_preds = clf.predict(X_test)
y_preds

array([1, 0, 1, 0, 0, 0, 0, 1, 1, 1, 1, 1, 0, 0, 1, 1, 0, 0, 1, 1, 1, 0,
       1, 1, 1, 1, 0, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1, 0, 1, 1,
       0, 1, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 1, 1, 1], dtype=int64)

In [9]:
y_test

48     1
195    0
247    0
218    0
246    0
      ..
170    0
289    0
147    1
298    0
293    0
Name: target, Length: 61, dtype: int64

In [10]:
# Evaluate the model
clf.score(X_train,y_train)

1.0

In [11]:
clf.score(X_test, y_test)

0.8360655737704918

In [12]:
from sklearn.metrics import classification_report, confusion_matrix, accuracy_score
print(classification_report(y_test, y_preds))

              precision    recall  f1-score   support

           0       0.92      0.74      0.82        31
           1       0.78      0.93      0.85        30

    accuracy                           0.84        61
   macro avg       0.85      0.84      0.83        61
weighted avg       0.85      0.84      0.83        61

In [13]:
confusion_matrix(y_test, y_preds)

array([[23,  8],
       [ 2, 28]], dtype=int64)

In [14]:
accuracy_score(y_test, y_preds)

0.8360655737704918

In [15]:
# Imporove a model
np.random.seed(42)
for i in range(10,100,10):
    print(f'Trying model with {i} estimators...')
    clf = RandomForestClassifier(n_estimators=i).fit(X_train, y_train)
    print(f'Model accuracy on test set: {clf.score(X_test,y_test)*100:.2f}%')

Trying model with 10 estimators...
Model accuracy on test set: 85.25%
Trying model with 20 estimators...
Model accuracy on test set: 86.89%
Trying model with 30 estimators...
Model accuracy on test set: 81.97%
Trying model with 40 estimators...
Model accuracy on test set: 86.89%
Trying model with 50 estimators...
Model accuracy on test set: 83.61%
Trying model with 60 estimators...
Model accuracy on test set: 83.61%
Trying model with 70 estimators...
Model accuracy on test set: 80.33%
Trying model with 80 estimators...
Model accuracy on test set: 80.33%
Trying model with 90 estimators...
Model accuracy on test set: 85.25%

In [16]:
# Save a model and load it
import pickle
pickle.dump(clf, open('model1.pkl','wb'))

In [17]:
loaded_model = pickle.load(open('model1.pkl', 'rb'))
loaded_model.score(X_test, y_test)

0.8524590163934426

# Preparing data

In [18]:
heart_disease.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

In [19]:
X = heart_disease.drop('target', axis=1)
X

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2

In [20]:
y = heart_disease['target']
y.head()

0    1
1    1
2    1
3    1
4    1
Name: target, dtype: int64

In [21]:
# Split data into training and test sets
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=0.2)

In [ ]:
X_train.shape, X_test.shape, y_train.shape, y_test.shape

((242, 13), (61, 13), (242,), (61,))

### Converting data to numerical

In [ ]:
car_sales = pd.read_csv('car-sales-extended.csv')
car_sales.head()

In [ ]:
len(car_sales)

In [ ]:
car_sales.dtypes

In [ ]:
# Split into X Y
X = car_sales.drop('Price', axis=1)
Y = car_sales['Price']

# Split into training/test set
X_train, X_test, Y_train, Y_test = train_test_split(X,
                                                   Y,
                                                   test_size=0.2)

In [ ]:
# Convert strings to floats 
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer

categorical_features = ['Make', 'Colour', 'Doors']
one_hot = OneHotEncoder()
transformer = ColumnTransformer([('one_hot',
                                 one_hot,
                                 categorical_features)],
                                 remainder='passthrough')
transformed_X = transformer.fit_transform(X)
transformed_X

In [ ]:
X

In [ ]:
pd.DataFrame(transformed_X)

In [ ]:
dummies = pd.get_dummies(car_sales[['Make', 'Colour', 'Doors']])
dummies

In [ ]:
np.random.seed(42)
X_train,X_test,Y_train,Y_test = train_test_split(transformed_X,
                                                 Y,
                                                test_size=0.2)
# Build a model
from sklearn.ensemble import RandomForestRegressor
model = RandomForestRegressor()
model.fit(X_train, Y_train)
model.score(X_test, Y_test)

# Missing values case

1. Filling (imputation)
2. Removing

In [ ]:
car_sales_missing = pd.read_csv('car-sales-extended-missing-data.csv')
car_sales_missing.head()

In [ ]:
# Missing values
car_sales_missing.isna().sum()

In [ ]:
# Fill missing data
car_sales_missing['Make'].fillna('missing', inplace=True)
car_sales_missing['Colour'].fillna('missing', inplace=True)
car_sales_missing['Odometer (KM)'].fillna(car_sales_missing['Odometer (KM)'].mean,
                                          inplace=True)
car_sales_missing['Doors'].fillna(4, inplace=True)

In [ ]:
# Remove rows with missing price
car_sales_missing.dropna(inplace=True)

In [ ]:
X = car_sales_missing.drop('Price', axis=1)
Y = car_sales_missing['Price']

In [ ]:
car_sales_missing.isna().sum()

In [ ]:
# Convert to numerical
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer

categorical_features = ['Make', 'Colour', 'Doors']
one_hot = OneHotEncoder()
transformer = ColumnTransformer([('one_hot',
                                 one_hot,
                                 categorical_features)],
                                 remainder='passthrough')
transformed_X = transformer.fit_transform(car_sales_missing)
transformed_X

# Fill missing values with sklearn

In [ ]:
car_sales_missing = pd.read_csv('car-sales-extended-missing-data.csv')
car_sales_missing

In [ ]:
car_sales_missing.isna().sum()

In [ ]:
# Drop rows with no label
car_sales_missing.dropna(subset=['Price'], inplace=True)
car_sales_missing.isna().sum()

In [ ]:
# Split into X & Y
X = car_sales_missing.drop('Price', axis=1)
Y = car_sales_missing['Price']

In [ ]:
# Fill missing values 
from sklearn.impute import SimpleImputer
from sklearn.compose import ColumnTransformer

# Fill categorical values with 'missing' & numerical with mean
cat_imputer = SimpleImputer(strategy='constant', fill_value='missing')
door_imputer = SimpleImputer(strategy='constant', fill_value=4)
num_imputer = SimpleImputer(strategy='mean')

# Define columns
cat_features = ['Make', 'Colour']
door_features = ['Doors']
num_features = ['Odometer (KM)']

# Create an imputer
imputer = ColumnTransformer([
    ('cat_imputer', cat_imputer, cat_features),
    ('door_imputer', door_imputer, door_features),
    ('num_imputer', num_imputer, num_features)
])

# Transform data
filled_X =  imputer.fit_transform(X)
filled_X

In [ ]:
car_sales_filled = pd.DataFrame(filled_X,
                               columns = ['Make', 'Colour', 'Doors', 'Odometer (KM)'])
car_sales_filled.head()

In [ ]:
car_sales_filled.isna().sum()

In [ ]:
# Convert to numerical
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer

categorical_features = ['Make', 'Colour', 'Doors']
one_hot = OneHotEncoder()
transformer = ColumnTransformer([('one_hot',
                                 one_hot,
                                 categorical_features)],
                                 remainder='passthrough')
transformed_X = transformer.fit_transform(car_sales_filled)
transformed_X

In [ ]:
# Fitting model
np.random.seed(123456)
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split

X_train, X_test, Y_train, Y_test = train_test_split(transformed_X,
                                                   Y,
                                                   test_size=0.2)
model = RandomForestRegressor()
model.fit(X_train, Y_train)
model.score(X_test, Y_test)

In [ ]:
len(car_sales_filled), len(car_sales)

# Choosing right algorithm/estimator

In [ ]:
# Import housing dataset
from sklearn.datasets import load_boston
boston = load_boston()
boston;

In [ ]:
boston_df = pd.DataFrame(boston['data'],
                         columns=boston['feature_names'])
boston_df['target'] = pd.Series(boston['target'])
boston_df.head()

In [ ]:
len(boston_df)

In [ ]:
# Ridge Regression model
from sklearn.linear_model import Ridge

# Set up seed
np.random.seed(123456)

# Create data
X = boston_df.drop('target', axis=1)
Y = boston_df['target']

# Split sets
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2)

# Instatiate ridge model
model = Ridge()
model.fit(X_train, Y_train)

# Check score on test data
model.score(X_test, Y_test)

In [ ]:
# Improve score wtih RandomForestRegressor
from sklearn.ensemble import RandomForestRegressor
np.random.seed(123)

# Create data
X = boston_df.drop('target', axis=1)
Y = boston_df['target']

# Split sets
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2)

# Instatiate ridge model
model_rf = RandomForestRegressor()
model_rf.fit(X_train, Y_train)

# Check score on test data
model_rf.score(X_test, Y_test)

In [ ]:
model.score(X_test, Y_test)

# Classification model

In [ ]:
heart_disease = pd.read_csv('heart-disease.csv')
heart_disease

In [ ]:
# Linear SVC
from sklearn.svm import LinearSVC

# Random seed
np.random.seed(123)

# Make data
X = heart_disease.drop(['target'], axis=1)
Y = heart_disease['target']

# Split data
X_train, X_test, Y_train, Y_test = train_test_split(X, y, test_size=0.2)

# Instatiate Linear SVC
clf = LinearSVC(max_iter=9999)
clf.fit(X_train, Y_train)

# Evaluate Linear SVC
clf.score(X_test, Y_test)

In [ ]:
heart_disease['target'].value_counts()

In [ ]:
# Linear SVC
from sklearn.ensemble import RandomForestClassifier

# Random seed
np.random.seed(123)

# Make data
X = heart_disease.drop(['target'], axis=1)
Y = heart_disease['target']

# Split data
X_train, X_test, Y_train, Y_test = train_test_split(X, y, test_size=0.2)

# Instatiate Linear SVC
clf = RandomForestClassifier()
clf.fit(X_train, Y_train)

# Evaluate Linear SVC
clf.score(X_test, Y_test)

In [ ]:
#