In [1]:
import numpy as np

## DataTypes & Attributes

In [2]:
# Numpy's main datatype is ndarray (n-dimensional array)
a1 = np.array([1,2,3])
a1

array([1, 2, 3])

In [3]:
type(a1)

numpy.ndarray

In [4]:
a2 = np.array([[1,2.0,3.3],
             [4,5,6.5]])
a3 = np.array([[[1,2,3],
             [4,5,6],
             [7,8,9]],
             [[10,11,12],
             [13,14,15],
             [16,17,18]]])

In [5]:
a2

array([[1. , 2. , 3.3],
       [4. , 5. , 6.5]])

In [6]:
a3

array([[[ 1,  2,  3],
        [ 4,  5,  6],
        [ 7,  8,  9]],

       [[10, 11, 12],
        [13, 14, 15],
        [16, 17, 18]]])

In [7]:
a1.shape

(3,)

In [8]:
a2.shape

(2, 3)

In [9]:
a3.shape

(2, 3, 3)

In [10]:
a1.ndim

1

In [11]:
a2.ndim

2

In [12]:
a3.ndim

3

In [13]:
a1.ndim, a2.ndim, a3.ndim

(1, 2, 3)

In [14]:
a1.dtype, a2.dtype, a3.dtype

(dtype('int32'), dtype('float64'), dtype('int32'))

In [15]:
a1.size, a2.size, a3.size

(3, 6, 18)

In [16]:
a1, a2, a3

(array([1, 2, 3]),
 array([[1. , 2. , 3.3],
        [4. , 5. , 6.5]]),
 array([[[ 1,  2,  3],
         [ 4,  5,  6],
         [ 7,  8,  9]],

        [[10, 11, 12],
         [13, 14, 15],
         [16, 17, 18]]]))

In [17]:
# Create a DataFrame from NumPy array
import pandas as pd
df = pd.DataFrame(a2)
df

     0    1    2
0  1.0  2.0  3.3
1  4.0  5.0  6.5

## Creating arrays

In [18]:
sample_array = np.array([1,2,3])
sample_array

array([1, 2, 3])

In [19]:
sample_array.dtype

dtype('int32')

In [20]:
ones = np.ones((2,3))

In [21]:
ones

array([[1., 1., 1.],
       [1., 1., 1.]])

In [22]:
ones.dtype

dtype('float64')

In [23]:
type(ones)

numpy.ndarray

In [24]:
zeros = np.zeros((2,3))

In [25]:
zeros

array([[0., 0., 0.],
       [0., 0., 0.]])

In [26]:
range_array = np.arange(0,10,2)

In [27]:
range_array

array([0, 2, 4, 6, 8])

In [28]:
random_array = np.random.randint(0,10,size=(3,5))
random_array

array([[8, 4, 8, 5, 5],
       [1, 7, 2, 7, 7],
       [5, 4, 9, 6, 6]])

In [29]:
random_array.size

15

In [30]:
random_array.shape

(3, 5)

In [31]:
random_array_2= np.random.random((5,3))
random_array_2

array([[0.54662607, 0.5137589 , 0.36964243],
       [0.3814482 , 0.60379631, 0.96714235],
       [0.05321486, 0.90322789, 0.85506415],
       [0.78236703, 0.83971489, 0.91461148],
       [0.43065237, 0.76344074, 0.46590502]])

In [32]:
random_array_2.shape

(5, 3)

In [33]:
random_array_3 = np.random.rand(5,3)
random_array_3

array([[0.80503348, 0.04380985, 0.12283843],
       [0.45870028, 0.26123001, 0.84924841],
       [0.81707293, 0.7642398 , 0.51595316],
       [0.46709115, 0.67885848, 0.43635386],
       [0.13297151, 0.44888397, 0.92184687]])

In [34]:
# Pseudo-random number
np.random.seed(seed=123456)
random_array_4 = np.random.randint(10,size=(5,3))
random_array_4

array([[1, 2, 1],
       [8, 0, 7],
       [4, 8, 4],
       [2, 6, 6],
       [7, 2, 6]])

In [35]:
random_array_4.shape

(5, 3)

In [36]:
np.random.seed(seed=987)
random_array_5 = np.random.random((5,3))
random_array_5

array([[0.40596913, 0.39223911, 0.87886601],
       [0.45912922, 0.84891585, 0.91923838],
       [0.91220603, 0.96287138, 0.03004432],
       [0.09025839, 0.86487734, 0.06656551],
       [0.79529047, 0.72108511, 0.30803994]])

## 3. Viewing arrays and matrices

In [37]:
np.unique(random_array_4)

array([0, 1, 2, 4, 6, 7, 8])

In [38]:
np.unique(random_array_5)

array([0.03004432, 0.06656551, 0.09025839, 0.30803994, 0.39223911,
       0.40596913, 0.45912922, 0.72108511, 0.79529047, 0.84891585,
       0.86487734, 0.87886601, 0.91220603, 0.91923838, 0.96287138])

In [39]:
a1

array([1, 2, 3])

In [40]:
a2

array([[1. , 2. , 3.3],
       [4. , 5. , 6.5]])

In [41]:
a3

array([[[ 1,  2,  3],
        [ 4,  5,  6],
        [ 7,  8,  9]],

       [[10, 11, 12],
        [13, 14, 15],
        [16, 17, 18]]])

In [42]:
a1[0]

1

In [43]:
a2[0]

array([1. , 2. , 3.3])

In [44]:
a3[0]

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

In [45]:
a2[1]

array([4. , 5. , 6.5])

In [46]:
a3

array([[[ 1,  2,  3],
        [ 4,  5,  6],
        [ 7,  8,  9]],

       [[10, 11, 12],
        [13, 14, 15],
        [16, 17, 18]]])

In [47]:
a3[:1,:2,:1]

array([[[1],
        [4]]])

In [48]:
np.random.seed(seed=1234)
a4 = np.random.randint(10,size=(2,3,4,5))
a4

array([[[[3, 6, 5, 4, 8],
         [9, 1, 7, 9, 6],
         [8, 0, 5, 0, 9],
         [6, 2, 0, 5, 2]],

        [[6, 3, 7, 0, 9],
         [0, 3, 2, 3, 1],
         [3, 1, 3, 7, 1],
         [7, 4, 0, 5, 1]],

        [[5, 9, 9, 4, 0],
         [9, 8, 8, 6, 8],
         [6, 3, 1, 2, 5],
         [2, 5, 6, 7, 4]]],


       [[[3, 5, 6, 4, 6],
         [2, 4, 2, 7, 9],
         [7, 7, 2, 9, 7],
         [4, 9, 0, 9, 2]],

        [[9, 1, 2, 9, 1],
         [5, 7, 4, 7, 7],
         [1, 4, 0, 5, 4],
         [9, 2, 9, 1, 3]],

        [[5, 9, 3, 0, 4],
         [4, 0, 6, 8, 4],
         [8, 1, 8, 9, 8],
         [2, 0, 2, 2, 3]]]])

In [49]:
a4.shape, a4.ndim

((2, 3, 4, 5), 4)

In [50]:
a4[:,:,:,:3]

array([[[[3, 6, 5],
         [9, 1, 7],
         [8, 0, 5],
         [6, 2, 0]],

        [[6, 3, 7],
         [0, 3, 2],
         [3, 1, 3],
         [7, 4, 0]],

        [[5, 9, 9],
         [9, 8, 8],
         [6, 3, 1],
         [2, 5, 6]]],


       [[[3, 5, 6],
         [2, 4, 2],
         [7, 7, 2],
         [4, 9, 0]],

        [[9, 1, 2],
         [5, 7, 4],
         [1, 4, 0],
         [9, 2, 9]],

        [[5, 9, 3],
         [4, 0, 6],
         [8, 1, 8],
         [2, 0, 2]]]])

In [55]:
a4

array([[[[3, 6, 5, 4, 8],
         [9, 1, 7, 9, 6],
         [8, 0, 5, 0, 9],
         [6, 2, 0, 5, 2]],

        [[6, 3, 7, 0, 9],
         [0, 3, 2, 3, 1],
         [3, 1, 3, 7, 1],
         [7, 4, 0, 5, 1]],

        [[5, 9, 9, 4, 0],
         [9, 8, 8, 6, 8],
         [6, 3, 1, 2, 5],
         [2, 5, 6, 7, 4]]],


       [[[3, 5, 6, 4, 6],
         [2, 4, 2, 7, 9],
         [7, 7, 2, 9, 7],
         [4, 9, 0, 9, 2]],

        [[9, 1, 2, 9, 1],
         [5, 7, 4, 7, 7],
         [1, 4, 0, 5, 4],
         [9, 2, 9, 1, 3]],

        [[5, 9, 3, 0, 4],
         [4, 0, 6, 8, 4],
         [8, 1, 8, 9, 8],
         [2, 0, 2, 2, 3]]]])

In [58]:
a4[1,1]

array([[9, 1, 2, 9, 1],
       [5, 7, 4, 7, 7],
       [1, 4, 0, 5, 4],
       [9, 2, 9, 1, 3]])

## 4. Manipulating & comparing arrays